<h2>PHP Documentor using Redback Documentation Engine</h2>
<p>This application helps generate documentation for php classes.</p>
<p>Follow the directions to create your documentation:</p>
<ol>
	<li>1. Write/Paste your code in the left panel.</li>
	<li>2. Hit the documentation button on the right bottom corner to show the documentation form.</li>
	<li>3. Fill all the information you need about the given class code.</li>
	<li>4. Press the play button on the top left corner to get your documented code.</li>
</ol>
<p>The script prints on the right panel a full-commented code of the class given and the documentation xml model as the engine parses it.</p>
<p>At this moment the application parses only classes (there must be a class visible) and functions must have the access modified (public/protected/private).</p>