<div class="phpDocumentorWrapper">
	<div class="navbar">
		<div class="logo">
			<div class="ico" />
			<div class="title">PHP Class Documentor</div>
		</div>
		<ul class="navmenu">
			<li class="navitem schema" data-literal='{"scope":"main.menu","name":"lbl_schema"}' />
			<li class="navitem about" data-literal='{"scope":"main.menu","name":"lbl_about"}' />
			<li class="navitem documentor selected" data-literal='{"scope":"main.menu","name":"lbl_documentor"}' />
		</ul>
	</div>
	<div class="editorsContainer" />
</div>